BreakingBadCharacters.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
BreakingBadCharacters.xcodeproj/project.xcworkspace/xcuserdata/felix.fischer.xcuserdatad/UserInterfaceState.xcuserstate
BreakingBadCharacters.xcodeproj/xcuserdata/felix.fischer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
